<% include ./partials/header %>



<div class="container">
  <div class="card  text-white bg-secondary mb-3">

  <div class="image">  
    <img id="restaurant_image" src=<%= restaurant.image %> alt="restauarant image"/ >
  </div>
  <div class="restaurant-info"></div>
    <h3 class="info-item"><a href=<%= restaurant.url %></a><%= restaurant.name %></a></h3>
    <h3 class="info-item">Price: <%= restaurant.price %></h3>
    <h3 class="info-item">Address: <%= restaurant.address %></h3>
    <h3 class="info-item">Phone Number: <%= restaurant.phone %></h3>
    <Button class="btn btn-primary map-button" onclick="openMap('<%=restaurant.address%>')">Take Me There</Button>
    <!-- <Button class="btn btn-primary map-button" onclick="parent.location='https://www.google.com/maps/?q=<%= restaurant.address %>'">Take Me There</Button> -->

  </div>    
  <!-- <button class="btn btn-danger">Gross, try again.</button> -->
  </div>
</div>

<script>
function openMap(address) {
  const url = `https://www.google.com/maps/dir/?api=1&destination=${address}`;
  window.open(url)
}


</script>
<% include ./partials/footer %>