<% include ./partials/header %>



<div class="container">
  <div class="card  text-white bg-secondary mb-3">

  <div class="image">  
    <img id="restaurant_image" src=<%= restaurant.image %> alt="restauarant image"/ >
  </div>
  <div class="restaurant-info"></div>
    <h3 class="info-item"><a href=<%= restaurant.url %></a><%= restaurant.name %></a></h3>
    <h3 class="info-item">Price: <%= restaurant.price %></h3>
    <h3 class="info-item">Address: <%= restaurant.address %></h3>
    <h3 class="info-item">Phone Number: <%= restaurant.phone %></h3>
    <a href="https://www.google.com/maps/?q=<%= restaurant.address %>" class="btn btn-primary">Sounds great. Take me there.</a>
  </div>    
  <!-- <button class="btn btn-danger">Gross, try again.</button> -->
  </div>
</div>

<% include ./partials/footer %>